!!! 5
%html
  %head
    %title= @title
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
    %link{ :href => "/feed", :rel => "alternate", :title => "Atom", :type => "application/atom+xml" }
    %link{ :href => "/css/screen.css", :media => "screen", :rel => "stylesheet" }
    - local_stylesheet_link_tag('local')
    = haml :analytics, :layout => false
  %body
    %header
      %nav
        %ul
          %li= "Menu Item"
 
    %section
      = yield  
        
      
      %footer
        %p
          Piede